p h1 h2 h3{
font-family: 'Ledger', serif;
}

/*Jumbotron*/

.jumbotron {
padding: 15px 15px;
margin: 0px 20px ;
color: inherit;

}

.google-maps {
    position: relative;
    padding-bottom: 55%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
