
p h1 h2 h3{
font-family: 'Ledger', serif;
}

p {
  font-size: 16px;
}
 img {
   max-width: 100%;
 }

/*Jumbotron*/

.jumbotron {
  padding: 0;
  margin: 0;
}

.home {
  position: relative;
  background: url(assets/bg-header_1.jpg) center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  width: 100%;
}
.jumbotron .container {
  position: absolute;
  top: 30%;
  width: 40%;
  left: 10%;
}

.home .btn-success,
.info .btn-success {
  background-color: #ffad4e;
  border-color:  #ffad4e;
}

.home .btn-success:hover,
.info .btn-success:hover {
  background-color: #c50411;
  border-color:  #c50411;
}


.navbar-default {
    background-color: rgb(20, 51, 82);
    border-color: #143352;
}

/*end of header*/


.google-maps {
    position: relative;
    padding-bottom: 55%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*INFO SECTION*/

 .info {
  height: auto;
  display: inline-block;
  margin: 150px 0;
  box-sizing: border-box;
}

.info img {
  width: 90%;
  margin-top: 50px;
  vertical-align: middle;
  padding-left:  20px;
}
.info .jumbotron {
  background-color: #fff;
  margin-bottom: 50px;
}
.info .jumbotron p {
    font-size: 16px;
  }

/*END OF INFO SECTION*/

/*VIDEO SECTION*/

.embed-responsive-16by9 {
    margin-top: 100px;
    padding-bottom: 56.25%;
    width: 75%;
    margin: 0 auto;
  }
/*END OF VIDEO SECTION*/

.row {
  margin: 0;
}
.row > .col-md-12 {
  padding: 0;
}

.heading h1,
.heading p {
  text-align: center;
  }
h2  {
  color: #fff;
  text-align: center;
  padding-top: 75px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

 .sever-zapad header,
 .sever header,
 .sever-iztok header,
 .iug-iztok header,
 .iug-centralen header,
 .iug-zapad header{
  height: 400px;
  background: url('assets/Kom_stara_planina_pano.jpg') no-repeat center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.sever header {
  background: url('assets/tarnovo.png') no-repeat center;
}

.sever-iztok header {
  background: url('assets/dobrudja.jpg') no-repeat center;
}

.iug-iztok header {
  background: url('assets/burgas.png') no-repeat center;
}

.iug-centralen header {
  background: url('assets/plovdiv-cover.png') no-repeat center;
}
.iug-zapad header {
  background: url('assets/sofia-cover.png') no-repeat center;
  width: 100%;
}
.sever-zapad img,
.sever img,
.sever-iztok img,
.iug-iztok img,
.iug-centralen img,
.iug-zapad img {
  height: 250px;
  margin: 0 auto;
  display: BLOCK;
  opacity: 0.8;

}
.sever-zapad .objects,
.sever .objects,
.sever-iztok .objects,
.iug-iztok .objects,
.iug-centralen .objects,
.iug-zapad .objects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sever-zapad .objects a,
.sever .objects a,
.sever-iztok .objects a,
.iug-iztok .objects a,
.iug-centralen .objects a,
.iug-zapad .objects a {
  color: #444;
}
.sever-zapad .objects a:hover
.sever .objects a:hover,
.sever-iztok .objects a:hover,
.iug-iztok .objects a:hover,
.iug-centralen .objects a:hover,
.iug-zapad .objects a:hover {
  color: #ffad4e;
}

footer {
  background-color:  #143352;
  color: #fff;
  height: 250px;
  display: flex;
  justify-content: space-around;
}
footer div {
  height: 100%;
  display: inline-block;
  padding: 20px;
  margin-left: 60px;
  vertical-align: top;
}
footer a {
  color: #fff;
}

footer a:hover {
  color: #ffad4e;
}

footer .logo {
  float: right;
}
footer img {
  width: 60%;
}

@media all and (max-width: 1200px) {
  .info img {
    width: 100%;
  }

  .info .jumbotron {
    margin: 30px 20px;
  }
}

@media all and (max-width: 992px) {
  .sever-zapad .objects,
  .sever .objects,
  .sever-iztok .objects,
  .iug-iztok .objects,
  .iug-centralen .objects,
  .iug-zapad .objects {
    justify-content: flex-start;
    margin-left: 50px;
  }

  footer {
    height: auto;
    padding: 0;
    padding-left: 20px;
  }

  footer div,
  footer h3 {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 768px) {
  body {
    word-wrap: break-word;
  }

.jumbotron .container {
  width: 100%;
  text-align: center;
  left: 0;
}

.sever-zapad .objects,
.sever .objects,
.sever-iztok .objects,
.iug-iztok .objects,
.iug-centralen .objects,
.iug-zapad .objects {
  margin-left: 0;
}

.sever-zapad .objects li,
.sever .objects li ,
.sever-iztok .objects li,
.iug-iztok .objects li,
.iug-centralen .objects li,
.iug-zapad .objects li {
  padding-bottom: 10px;
}
.objects > div {
  width: 100%;
  text-align: center;
}

.objects > div ul {
  list-style-type: none;
  padding: 0;
}

.objects > div h3 {
  border-bottom: 1px solid #143352;
  padding-bottom: 10px;
}
.row {
  margin: 0;
}
.row > .col-md-12 {
  padding: 0;
}
  footer {
    height: auto;
    display: block;
  }

  footer div {
    width: 100%;
    text-align: center;
  }

footer h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
  footer ul {
    list-style-type: none;
    padding: 0;
  }

  footer .logo {
    float: none;
  }
}
